In [94]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
pd.options.mode.chained_assignment = None

train_data = pd.read_csv('train.csv', index_col=0)

train_data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [95]:
sex_to_num = lambda x: int(x == 'female')

In [96]:
train_data['Sex'] = train_data['Sex'].apply(sex_to_num)

In [97]:
df_dict = {}
sex_group = train_data[['Survived', 'Pclass', 'Sex', 'Age', 'Fare']].groupby('Sex')
for sg in sex_group.groups:
    class_group = sex_group.get_group(sg).groupby('Pclass')
    for cg in class_group.groups:
        df_dict[(sg,cg)] = class_group.get_group(cg)

In [98]:
age_mean_dict = {}
for i in range(2):
    for j in range(1,4):
        age_mean_dict[(i,j)] = np.nanmean(df_dict[(i,j)]['Age'])

In [99]:
age_mean_dict

{(0, 1): 41.281386138613861,
 (0, 2): 30.740707070707071,
 (0, 3): 26.507588932806325,
 (1, 1): 34.611764705882351,
 (1, 2): 28.722972972972972,
 (1, 3): 21.75}

In [100]:
def fixNanAge(row):
    row.Age = age_mean_dict[(row.Sex, row.Pclass)]
    return row

In [101]:
for df in list(df_dict.values()):
    age_null_mask = df['Age'].isnull()
    df[age_null_mask] = df[age_null_mask].apply(fixNanAge, axis=1)

In [129]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.cross_validation import cross_val_score

logregs = {}

for key, df in df_dict.items():
    X = df[['Age', 'Fare']]
    y = df['Survived']
    logreg = LogisticRegression()
    ##scores = cross_val_score(logreg, X, y, cv=10, scoring='accuracy')
    ##print(scores.mean())
    logreg.fit(X, y)
    logregs[key] = logreg

In [ ]:
from sklearn.cross_validation import cross_val_score

scores = cross_val_score()

In [108]:
test_data = pd.read_csv('test.csv', index_col=0)
test_data['Sex'] = test_data['Sex'].apply(sex_to_num)

In [110]:
test_dict = {}
sex_group = test_data[['Pclass', 'Sex', 'Age', 'Fare']].groupby('Sex')
for sg in sex_group.groups:
    class_group = sex_group.get_group(sg).groupby('Pclass')
    for cg in class_group.groups:
        test_dict[(sg,cg)] = class_group.get_group(cg)

In [111]:
for df in list(test_dict.values()):
    age_null_mask = df['Age'].isnull()
    df[age_null_mask] = df[age_null_mask].apply(fixNanAge, axis=1)

In [123]:
for key, df in test_dict.items():
    df.fillna(0, inplace=True)
    
for key, df in test_dict.items():
    print(df.isnull().sum())

Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64
Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64
Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64
Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64
Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64
Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64

In [140]:
results_dict = {}

for key, df in test_dict.items():
    test_X = df[['Age', 'Fare']]
    results_dict[key] = pd.DataFrame({'Survived':logregs[key].predict(test_X)}, index=df.index)

results_dict

{(0, 1):              Survived
 PassengerId
 903               0.0
 912               0.0
 915               1.0
 920               0.0
 926               0.0
 933               0.0
 938               0.0
 942               0.0
 956               1.0
 959               0.0
 960               0.0
 965               0.0
 967               0.0
 973               0.0
 974               0.0
 986               0.0
 1010              0.0
 1023              0.0
 1034              0.0
 1036              0.0
 1038              0.0
 1040              0.0
 1050              0.0
 1058              0.0
 1069              0.0
 1073              0.0
 1083              0.0
 1088              1.0
 1094              0.0
 1097              0.0
 1107              0.0
 1109              0.0
 1126              0.0
 1128              0.0
 1134              0.0
 1137              0.0
 1144              0.0
 1158              0.0
 1162              0.0
 1179              0.0
 1182              0.0
 1185              0.0
 1190              0.0
 1198              0.0
 1200              0.0
 1208              0.0
 1215              0.0
 1219              0.0
 1223              0.0
 1227              0.0
 1247              0.0
 1264              0.0
 1270              0.0
 1282              1.0
 1295              1.0
 1296              0.0
 1299              0.0, (0, 2):              Survived
 PassengerId
 894               0.0
 899               0.0
 905               0.0
 908               0.0
 922               0.0
 923               0.0
 943               0.0
 946               0.0
 953               0.0
 970               0.0
 976               0.0
 981               1.0
 993               0.0
 1001              0.0
 1002              0.0
 1020              0.0
 1029              0.0
 1035              0.0
 1041              0.0
 1056              0.0
 1072              0.0
 1077              0.0
 1081              0.0
 1082              0.0
 1085              0.0
 1086              0.0
 1090              0.0
 1096              0.0
 1099              0.0
 1104              0.0
 ...               ...
 1156              0.0
 1168              0.0
 1169              0.0
 1170              0.0
 1171              0.0
 1193              0.0
 1194              0.0
 1209              0.0
 1211              0.0
 1214              0.0
 1220              0.0
 1221              0.0
 1228              0.0
 1230              0.0
 1232              0.0
 1238              0.0
 1240              0.0
 1243              0.0
 1244              0.0
 1245              0.0
 1261              0.0
 1262              0.0
 1265              0.0
 1269              0.0
 1276              0.0
 1279              0.0
 1285              0.0
 1293              0.0
 1297              0.0
 1298              0.0

 [63 rows x 1 columns], (0, 3):              Survived
 PassengerId
 892               0.0
 895               0.0
 897               0.0
 901               0.0
 902               0.0
 909               0.0
 913               0.0
 917               0.0
 919               0.0
 921               0.0
 927               0.0
 930               0.0
 931               0.0
 932               0.0
 934               0.0
 937               0.0
 939               0.0
 947               0.0
 948               0.0
 949               0.0
 950               0.0
 952               0.0
 954               0.0
 963               0.0
 968               0.0
 972               0.0
 975               0.0
 977               0.0
 983               0.0
 985               0.0
 ...               ...
 1212              0.0
 1213              0.0
 1217              0.0
 1224              0.0
 1226              0.0
 1229              0.0
 1231              0.0
 1233              0.0
 1234              0.0
 1236              0.0
 1249              0.0
 1250              0.0
 1252              0.0
 1255              0.0
 1258              0.0
 1271              0.0
 1272              0.0
 1273              0.0
 1278              0.0
 1280              0.0
 1281              0.0
 1284              0.0
 1286              0.0
 1288              0.0
 1290              0.0
 1291              0.0
 1305              0.0
 1307              0.0
 1308              0.0
 1309              0.0

 [146 rows x 1 columns], (1, 1):              Survived
 PassengerId
 904               1.0
 906               1.0
 914               1.0
 916               1.0
 918               1.0
 936               1.0
 940               1.0
 945               1.0
 951               1.0
 961               1.0
 966               1.0
 969               1.0
 984               1.0
 988               1.0
 992               1.0
 1004              1.0
 1006              1.0
 1014              1.0
 1033              1.0
 1042              1.0
 1048              1.0
 1060              1.0
 1071              1.0
 1074              1.0
 1076              1.0
 1100              1.0
 1110              1.0
 1116              1.0
 1123              1.0
 1131              1.0
 1132              1.0
 1164              1.0
 1197              1.0
 1206              1.0
 1216              1.0
 1235              1.0
 1242              1.0
 1248              1.0
 1256              1.0
 1260              1.0
 1263              1.0
 1266              1.0
 1267              1.0
 1283              1.0
 1287              1.0
 1289              1.0
 1292              1.0
 1294              1.0
 1303              1.0
 1306              1.0, (1, 2):              Survived
 PassengerId
 907               1.0
 935               1.0
 944               1.0
 957               1.0
 1011              1.0
 1012              1.0
 1054              1.0
 1067              1.0
 1068              1.0
 1070              1.0
 1078              1.0
 1095              1.0
 1105              1.0
 1112              1.0
 1114              1.0
 1130              1.0
 1133              1.0
 1138              1.0
 1140              1.0
 1142              1.0
 1150              1.0
 1154              1.0
 1167              1.0
 1188              1.0
 1218              1.0
 1222              1.0
 1241              1.0
 1253              1.0
 1254              1.0
 1277              1.0, (1, 3):              Survived
 PassengerId
 893               0.0
 896               1.0
 898               1.0
 900               1.0
 910               1.0
 911               0.0
 924               0.0
 925               0.0
 928               1.0
 929               1.0
 941               0.0
 955               1.0
 958               1.0
 962               1.0
 964               1.0
 971               1.0
 978               1.0
 979               1.0
 980               1.0
 982               1.0
 990               1.0
 996               1.0
 1003              1.0
 1005              1.0
 1009              1.0
 1017              1.0
 1019              0.0
 1024              0.0
 1030              1.0
 1032              0.0
 ...               ...
 1108              1.0
 1117              0.0
 1119              1.0
 1141              1.0
 1155              1.0
 1160              1.0
 1165              0.0
 1172              1.0
 1174              1.0
 1175              1.0
 1176              1.0
 1183              1.0
 1196              1.0
 1201              0.0
 1205              1.0
 1207              1.0
 1225              0.0
 1237              1.0
 1239              1.0
 1246              1.0
 1251              0.0
 1257              0.0
 1259              0.0
 1268              1.0
 1274              1.0
 1275              0.0
 1300              1.0
 1301              1.0
 1302              1.0
 1304              1.0

 [72 rows x 1 columns]}

In [137]:
temp_s = pd.Series(np.zeros(418), index=np.arange(892,1310))
final = pd.Dataframe()

892     0.0
893     0.0
894     0.0
895     0.0
896     0.0
897     0.0
898     0.0
899     0.0
900     0.0
901     0.0
902     0.0
903     0.0
904     0.0
905     0.0
906     0.0
907     0.0
908     0.0
909     0.0
910     0.0
911     0.0
912     0.0
913     0.0
914     0.0
915     0.0
916     0.0
917     0.0
918     0.0
919     0.0
920     0.0
921     0.0
       ...
1280    0.0
1281    0.0
1282    0.0
1283    0.0
1284    0.0
1285    0.0
1286    0.0
1287    0.0
1288    0.0
1289    0.0
1290    0.0
1291    0.0
1292    0.0
1293    0.0
1294    0.0
1295    0.0
1296    0.0
1297    0.0
1298    0.0
1299    0.0
1300    0.0
1301    0.0
1302    0.0
1303    0.0
1304    0.0
1305    0.0
1306    0.0
1307    0.0
1308    0.0
1309    0.0
Length: 418, dtype: float64