In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
pd.options.mode.chained_assignment = None

train_data = pd.read_csv('train.csv', index_col=0)

train_data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
sex_to_num = lambda x: int(x == 'female')

In [9]:
train_data['Sex'] = train_data['Sex'].apply(sex_to_num)

In [10]:
df_dict = {}
sex_group = train_data[['Survived', 'Pclass', 'Sex', 'Age', 'Fare']].groupby('Sex')
for sg in sex_group.groups:
    class_group = sex_group.get_group(sg).groupby('Pclass')
    for cg in class_group.groups:
        df_dict[(sg,cg)] = class_group.get_group(cg)

In [11]:
age_mean_dict = {}
for i in range(2):
    for j in range(1,4):
        age_mean_dict[(i,j)] = np.nanmean(df_dict[(i,j)]['Age'])

In [12]:
age_mean_dict

{(0, 1): 41.28138613861386,
 (0, 2): 30.74070707070707,
 (0, 3): 26.507588932806325,
 (1, 1): 34.61176470588235,
 (1, 2): 28.722972972972972,
 (1, 3): 21.75}

In [13]:
def fixNanAge(row):
    row.Age = age_mean_dict[(row.Sex, row.Pclass)]
    return row

In [14]:
for df in list(df_dict.values()):
    age_null_mask = df['Age'].isnull()
    df[age_null_mask] = df[age_null_mask].apply(fixNanAge, axis=1)

In [15]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.cross_validation import cross_val_score

logregs = {}

for key, df in df_dict.items():
    X = df[['Age', 'Fare']]
    y = df['Survived']
    logreg = LogisticRegression()
    ##scores = cross_val_score(logreg, X, y, cv=10, scoring='accuracy')
    ##print(scores.mean())
    logreg.fit(X, y)
    logregs[key] = logreg

/usr/local/lib/python3.6/dist-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [17]:
test_data = pd.read_csv('test.csv', index_col=0)
test_data['Sex'] = test_data['Sex'].apply(sex_to_num)

In [18]:
test_dict = {}
sex_group = test_data[['Pclass', 'Sex', 'Age', 'Fare']].groupby('Sex')
for sg in sex_group.groups:
    class_group = sex_group.get_group(sg).groupby('Pclass')
    for cg in class_group.groups:
        test_dict[(sg,cg)] = class_group.get_group(cg)

In [19]:
for df in list(test_dict.values()):
    age_null_mask = df['Age'].isnull()
    df[age_null_mask] = df[age_null_mask].apply(fixNanAge, axis=1)

In [34]:
for key, df in test_dict.items():
    df.fillna(0, inplace=True)
    
##for key, df in test_dict.items():
##    print(df.isnull().sum())

In [65]:
results_dict = {}

for key, df in test_dict.items():
    test_X = df[['Age', 'Fare']]
    results_dict[key] = pd.DataFrame({'Survived':logregs[key].predict(test_X), 'PassengerId':df.index})
    results_dict[key].set_index('PassengerId', inplace=True)

In [87]:
final = pd.DataFrame()
for df in list(results_dict.values()):
    final = final.append(df)
final.set_index('PassengerId', inplace=True)
final.sort_index(inplace=True)

In [91]:
final['Survived'] = final['Survived'].apply(int)

In [92]:
final.to_csv('submission_log.csv')